.header{
	margin: auto; 
	display: block;
	width: 50%;
	padding: 10px;

}

#sub-title{
	margin-left: 30px;

}

.main-content{
	width: 600px; 
	text-align: left;
	margin-left: 20px;
	margin-top: 50px;
	padding-bottom: 100px;
}

.tab-title{
	margin-left: 20px;
}

 html body{
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#337ab7;
}